<!--Данный файл относится к примеру с работой движка представления. Его принцип заключается в том, что
с сервера происходит передача конкретных переменных, по аналогии с jsp файлами на java. Данную вещь можно 
использовать для стартовой страницы, т.е. index.hbs. Подобный подход позволяет заменить фреймворки для фронт энда
по типу реакта, вуе, ангуляр и т.д., но делать не рекомендуется, так как нагрузка будет идти на сам сервер-->
<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
    </head>
    <body>
        <!--Вставляет частичное представление-->
        {{>menu}}

        <h1>{{title}}</h1>
        <p>{{email}}</p>
        <p>{{phone}}</p>
        {{#if mouseVisible}}
        <h2>Модели мышек</h2>
        <ul>
            {{#each mouse}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        {{/if}}
        <!--Вставляет частичное представление-->
        {{>footer}}
    </body>

</html>